/* App.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

.App {
  text-align: center;
  background-color: #f9f9f9;
}

.sideBySide {
  display: flex;
  align-items: center;
  justify-content: center;
}
.mobile_video_description {
display: none;
}

/* .Inspiration,
.section {
  transform: translateX(-100%);
  transition: transform 2.5s ease;
} */

.Inspiration.fadeIn,
.section.fadeIn {
  transform: translateX(0);
}

.Full_Image {
  text-align: left;
  height: 93vh;
  width: calc(100vw - 700px);
  justify-content: left;
  display: flex;
  padding-top: 6.7vh;
}

.ukePic {
  text-align: left;
  height: 93vh;
  width: calc(100vw - 700px);
  justify-content: left;
  display: flex;
}

.youtubeContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.Inspiration_Text {
  background-color: black;
  color: white;
  margin: 0;
  padding: 2vh 0;
  font-size: 2.5vh;
}

.Inspiration {
  display: flex;
  flex-direction: row;
  text-align: left;
  padding: 2vh;
}

.Camp,
.Soldiers {
  flex: 1;
  background-color: white;
  color: #333;
  margin: 0 1vw;
  padding: 2vw;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.Camp h2,
.Soldiers h2 {
  margin-top: 0;
  font-size: 2.5vh;
  color: #666;
  text-align: center;
}

.Inspiration_Pics {
  height: auto;
  max-width: 100%;
    height: 66vh;
}

.Inspiration_Paragraph {
  font-size: 2vh;
  line-height: 1.6;
  margin-top: 2vh;
}

.AwardsAndContact {
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  height: 30vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.AwardsAndContact h2 {
  font-size: 2.5vh;
  color: #333;
}

.AwardsAndContact p {
  font-size: 2vh;
  color: #666;
  line-height: 1.6;
}

.AwardsAndContact a {
  color: #007bff;
  text-decoration: none;
}

.AwardsAndContact a:hover {
  text-decoration: underline;
}

.section {
  opacity: 0;
  transition: opacity 2.5s ease, transform 2.5s ease;
}

.section.visible {
  opacity: 1;
  transform: translateX(0);
}
.preorder {
  display: block;
    font-size: 2vh;
    background-color: black;
  color: white;
  margin: 0;
  padding: 2vh 0;
  font-size: 2.5vh;
  width: 100vw;
margin-top: 2vh;
margin-bottom: 2vh;
cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .sideBySide {
    flex-direction: column;
    
  }

  .Full_Image {
  
    width: 100vw;
  }

  .mobile_video_description {
    display: block;
    font-size: 2vh;
    background-color: black;
  color: white;
  margin: 0;
  padding: 2vh 0;
  font-size: 2.5vh;
  width: 100vw;
    }

  .ukePic {
    height: 100vh;
    width: 100vw;
    object-fit: cover; /* Ensure the image covers the entire container */
  }
  .youtubeVid {
    padding: 5vh;
  }

  .youtubeContainer {
    position: relative;
   justify-content: center;
   align-items: center;
   height: 100vh;

  }

  /* Additional adjustments for smaller screens */
  .Inspiration {
    flex-direction: column;
  }

  .Camp,
  .Soldiers {
    margin: 2vh 0;
  }

  .Inspiration_Pics {
    margin-bottom: 2vh;
  }
}
